*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /*消除ios下可点击元素点击时出现的背景色*/
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 去掉各Table  cell 的边距并让其边重合 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* IE bug fixed: th 不继承 text-align*/

th {
  text-align: inherit;
  font-weight: bold;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: 0 none;
}

input,
textarea {
  -webkit-appearance: none;
  /*清除ios下输入框的阴影*/
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 去除默认边框 */

fieldset,
img {
  border: 0;
}

/* HTML5 媒体文件跟 img 保持一致 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* ie6 7 8(q) bug 显示为行内表现 */

iframe {
  display: block;
}

/* 统一上标和下标 */

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* 清理浮动 */

.clearfix {
  display: block;
  content: "";
  clear: both;
  zoom: 1;
}

.user-select-none {
  -webkit-user-select: none; //禁止用户选中内容
}

.input-style-none {
  -webkit-appearance: none; //消除输入框和按钮的原生外观
}

.touch-callout-none {
  -webkit-touch-callout: none; //禁止长按弹出菜单
}

.flex {
  @include flex();
}

.flex-1 {
  flex: 1 1 auto;
}

.flex-0 {
  flex: 0 0 auto;
}

.flex-10 {
  flex: 1 0 auto;
}

.flex-01 {
  flex: 0 1 auto;
}

.text-overflow {
  @include text-overflow();
}

html {
  height: 100%;
}

body {
  font-family: "Microsoft YaHei";
  font-size: $font-default;
  height: 100%;
  position: relative;
  background: $color-empty;
}

.page {
  margin: 0 auto;
  height: 100%;
}

.page-center-wrap {
  @include flex(column, center, center);
}

.page-tb-wrap {
  @include flex(column, flex-start, stretch);
}

.page-lr-wrap {
  @include flex($jus: flex-start, $ali: stretch);
}


input.base-input {
  border: 1px solid $color-input-border;
  padding: 0 5px;
  font-size: 14px;
}

button,
.base-btn {
  @include btn;
}

.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, 0.1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }

  &.content-tooltip {
    .tooltip-inner {
      background: #fff;
      color: inherit;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
      border-radius: 4px;
      max-width: 280px;
    }
    .tooltip-arrow {
      display: none;
    }
  }
}
